body {
    /*display: flex;*/
    font-family: Arial, Helvetica, sans-serif;
    /*border: red 1px solid;*/
    align-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px red solid; */
    width: 50vw;
    height: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    /*margin: 50px;*/
    width: 50vw;
    height: 40vh;
}

/*styles the buttons of the questions*/
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    border-color: darkslateblue;
}

#start-button {
    background-color: cornflowerblue;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    border-color: darkslateblue;
}

.hide {
    display: none;
}

.un-hide {
    display: block;
}